#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-size: large;
  /*text-align: center;*/
}
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;       /* horizontal center */
  text-align: center;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;   /* vertical center */
  align-items: flex-start;   /* left align */
  min-height: 100vh;         /* take full screen height */
  padding-left: 2rem;        /* spacing from left edge */
}
.menu-item {
  display: flex;
  align-items: center;       /* aligns icon and text vertically */
  gap: 1rem;                 /* space between icon and text */
  font-size: 1.2rem;
  font-weight: 600;
}
.menu-footer {
  margin-top: 2 rem;          /* push to bottom */
  padding-top: 2rem;
  display: flex;
  justify-content: center;   /* center horizontally */
  width: 100%;               /* <-- ensures it spans full width */
}
.logo {
  height: 3em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
  filter: brightness(0) saturate(100%) invert(51%) sepia(91%) saturate(2224%) hue-rotate(164deg) brightness(107%) contrast(103%);
}
.logo:hover {
  filter: brightness(0) saturate(100%) invert(78%) sepia(66%) saturate(2583%) hue-rotate(59deg) brightness(103%) contrast(115%);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.intro {
  padding: 2em;
  overflow-wrap: normal;
}

.menu-item {
  background-color: #0;
  border-radius: 25px;
}

.menu-item.img{
  filter: brightness(0) saturate(100%) invert(51%) sepia(91%) saturate(2224%) hue-rotate(164deg) brightness(107%) contrast(103%);
}


a {
  color: inherit;
}

.read-the-docs {
  color: #888;
}
h1 {
  font-size: 2.5em;
  font-weight: 700;
  color: var(--primary-color);
  text-shadow: 0 0 8px var(--primary-color);
}

.menu-item span {
  color: var(--primary-color);
  font-size: 1.2rem;
  font-weight: 600;
}

.menu-item:hover span {
  color: var(--accent-color);
  text-shadow: 0 0 8px var(--accent-color);
}